{% load static %}

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://twitter.com/andreaslofs" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/lofsgaard" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; 2020 h4ck.sh</li>
        </ul>
    </div>
</footer>