
{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Main -->
	<div id="main">

<!-- One -->
	<section id="one">
		<header class="major">
			<h2>Welcome</h2>
		</header>
		<p>This blog/website is a personal project to learn new technologies other than those I work professionally with.</p>
		<ul class="actions">
			<li><a href="/blog" class="button">Learn More</a></li>
		</ul>
	</section>

<!-- Two -->
	<section id="two">
		<h2>Recent Work</h2>
		<div class="row">
			<article class="col-6 col-12-xsmall work-item">
				<a href='{%static "images/fulls/01.jpg" %}' class="image fit thumb"><img src='{%static "images/thumbs/01.jpg" %}' alt="" /></a>
				<h3>Magna sed consequat tempus</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href='{%static "images/fulls/02.jpg" %}' class="image fit thumb"><img src='{%static "images/thumbs/02.jpg" %}' alt="" /></a>
				<h3>Ultricies lacinia interdum</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href='{%static "images/fulls/03.jpg" %}' class="image fit thumb"><img src='{%static "images/thumbs/03.jpg" %}' alt="" /></a>
				<h3>Tortor metus commodo</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href='{%static "images/fulls/04.jpg" %}' class="image fit thumb"><img src='{%static "images/thumbs/04.jpg" %}' alt="" /></a>
				<h3>Quam neque phasellus</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href='{%static "images/fulls/05.jpg" %}' class="image fit thumb"><img src='{%static "images/thumbs/05.jpg" %}' alt="" /></a>
				<h3>Nunc enim commodo aliquet</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
			<article class="col-6 col-12-xsmall work-item">
				<a href='{%static "images/fulls/06.jpg" %}' class="image fit thumb"><img src='{%static "images/thumbs/06.jpg" %}' alt="" /></a>
				<h3>Risus ornare lacinia</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Full Portfolio</a></li>
		</ul>
	</section>

{% endblock content %}